@import url("https://fonts.google.com/specimen/Inter");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --background: hsl(0, 0%, 100%);
  --bg-pattern: hsl(225, 100%, 98%);
  --background-card: hsl(227, 47%, 96%);
  --text-first: hsl(228, 12%, 44%);
  --text-second: hsl(230, 17%, 14%);
  --toggle: hsl(230, 22%, 74%);
  --hover: #d1d5db;

  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youtube: hsl(348, 97%, 39%);
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
}

html.dark {
  --background: hsl(230, 17%, 14%);
  --background-card: hsl(228, 28%, 20%);
  --bg-pattern: hsl(232, 19%, 15%);
  --text-first: hsl(228, 34%, 66%);
  --text-second: hsl(0, 0%, 100%);
  --toggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --hover: #374151;
}

body {
  font-size: 14px;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  transition: all 0.4s;
}

.instagram::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px 4px 0 0;
  background-image: var(--instagram);
}

input:checked ~ .dot {
  transform: translateX(calc(-100% - 8px));
  background: var(--background);
}

.card:hover {
  background-color: var(--hover);
  cursor: pointer;
  transition: all 0.4s;
}
